{% extends "base.html" %}
{% load staticfiles %}

{% block title %}WMFB - Password Reset{% endblock %}

{% block nav %}
{% load staticfiles %}
      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://imersoes.com.br/"><img style="max-height:100px" src="{% static 'images/wmfb.png' %}" ></a>
        </div>
      </div>
    </nav>

 {% endblock %}

{% block content %}

  <div class="jumbotron">
            <div class="container">
                    <h2 class="text-center">Sucesso!</h2>
                <p class="text-center">Nós enviamos para seu endereço de e-mail as instruções para cadastrar sua nova senha.</p>
<p class="text-center">Você deve recebê-lo em alguns instantes.</p>
            </div>
        </div>

{% endblock %}