{% extends "base.html" %}
{% load static %}

{% block title %}WMFB - Password Reset{% endblock %}

{% block nav %}
{% load static %}
      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://imersoes.com.br/"><img style="max-height:100px" src="{% static 'images/wmfb.png' %}" ></a>
        </div>
      </div>
    </nav>

 {% endblock %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h2 class="text-center">Sucesso!</h2>
            <p class="text-center">Sua nova senha foi cadastrada com sucesso. Você pode realizar um novo log-in
                agora.</p>
            <p class="text-center"><a href="{{ login_url }}">Entrar</a></p>
        </div>
    </div>


{% endblock %}