{% extends "base.html" %}
{% block title %}Cadastro nova senha{% endblock %}

{% block nav %}
{% load static %}
      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://imersoes.com.br/"><img style="max-height:100px" src="{% static 'images/wmfb.png' %}" ></a>
        </div>
      </div>
    </nav>

 {% endblock %}

{% block content %}

    {% if validlink %}
        <div class="jumbotron">
            <div class="container">
                <h2 class="text-center">Cadastro de Nova Senha</h2>
                <p class="text-center">Por favor entre com a sua nova senha duas vezes, para que possamos verficar se a mesma foi digitada corretamente.</p>
            </div>
        </div>

       <div class="container" style="margin-bottom:100px" >
            <form class="form-horizontal" action="" method="post">
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>


                 <div class="form-group">
                    <label for="inputNome" class="col-sm-2 control-label">Nova senha:</label>
                    {% if form.new_password1.errors  %}
                        <div class="col-sm-10 has-error has-feedback">
                             <input class="form-control" id="{{ form.new_password1.id_for_label }}" maxlength="30" name="{{ form.new_password1.html_name }}"  type="password" />

                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <span id="inputError2Status" class="sr-only">(error)</span>
                        </div>
                    {% else %}
                        <div class="col-sm-10">
                            <input class="form-control" id="{{ form.new_password1.id_for_label }}" maxlength="30" name="{{ form.new_password1.html_name }}"  type="password" />

                        </div>
                    {% endif %}
                </div>

                 <div class="form-group">
                    <label for="inputNome" class="col-sm-2 control-label">Confirme a senha:</label>
                    {% if form.new_password2.errors  %}
                        <div class="col-sm-10 has-error has-feedback">
                             <input class="form-control" id="{{ form.new_password2.id_for_label }}" maxlength="30" name="{{ form.new_password2.html_name }}"  type="password" />

                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <span id="inputError2Status" class="sr-only">(error)</span>
                        </div>
                    {% else %}
                        <div class="col-sm-10">
                            <input class="form-control" id="{{ form.new_password2.id_for_label }}" maxlength="30" name="{{ form.new_password2.html_name }}" type="password" />

                        </div>
                    {% endif %}
                </div>


                {% if form.errors %}
                    <tr>
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            Senha inválida! As senhas devem ser iguais e devem conter no mínimo 8 caracteres.
                        </div>
                    </tr>
                {% endif %}

                <div class="form-group">
                    <div class="col-md-offset-8 col-md-4 text-right">
                        <button class=" btn btn-primary" type="submit" value="Reset password">Cadastrar nova senha</button>
                    </div>
                </div>


{#                <table class="table">#}
{#                    <tr>#}
{#                        <td>{{ form.new_password1.errors }}#}
{#                            <label for="id_new_password1">Nova senha:</label></td>#}
{#                        <td>{{ form.new_password1 }}</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td>{{ form.new_password2.errors }}#}
{#                            <label for="id_new_password2">Confirme a senha:</label></td>#}
{#                        <td>{{ form.new_password2 }}</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td></td>#}
{#                        <td>#}
{#                            <button class="btn btn-lg btn-primary" type="submit" value="Change my password">Cadastrar#}
{#                                Senha#}
{#                            </button>#}
{#                        </td>#}
{#                    </tr>#}
{#                </table>#}
            </form>
     </div>

    {% else %}

        <div class="jumbotron">
            <div class="container">
                <h2 class="text-center">Não foi possível cadastrar sua nova senha.</h2>
                <p class="text-center">O link de troca de senha é inválido,
                    possivelmente porque já foi utilizado.</p>
                <p class="text-center">Por favor, entre de novo com o pedido para alterar senha.</p>
            </div>
        </div>


    {% endif %}
    
{% endblock %}