{% extends "base.html" %}
{% load staticfiles %}

{% block title %}WMFB - Password Reset{% endblock %}

{% block nav %}
{% load staticfiles %}
      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://imersoes.com.br/"><img style="max-height:100px" src="{% static 'images/wmfb.png' %}" ></a>
        </div>
      </div>
    </nav>

 {% endblock %}

{% block content %}

  <div class="jumbotron">
            <div class="container">
                    <h2 class="text-center">Esqueceu sua senha ?</h2>
                <p class="text-center">Por favor forneça seu endereço de e-mail cadastrado e clique em Enviar.</p>
                 <p class="text-center">Nós lhe enviaremos um e-mail que inclui um link para o cadastro de uma nova senha.</p>
            </div>
        </div>

    <div class="container">
        <form class="form-inline" action="" method="post">

            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            {{ form.email.errors }}


            <div class="form-group form-control">
                <label for="id_Email" class="control-label">E-mail</label>
                {{ form.email }}

            </div>


            <button class=" btn btn-primary" type="submit" value="Reset password">Enviar</button>

        </form>

    </div>

{% endblock %}