{% extends "base.html" %}
{% load staticfiles %}

{% block title %}WMFB - Password Reset{% endblock %}

{% block nav %}
{% load staticfiles %}
      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://imersoes.com.br/"><img style="max-height:100px" src="{% static 'images/wmfb.png' %}" ></a>
        </div>
      </div>
    </nav>

 {% endblock %}

{% block content %}

  <div class="jumbotron">
            <div class="container">
                    <h2 class="text-center">Esqueceu sua senha ?</h2>
                <p class="text-center">Por favor forneça seu endereço de e-mail cadastrado e clique em Enviar.</p>
                 <p class="text-center">Nós lhe enviaremos um e-mail que inclui um link para o cadastro de uma nova senha.</p>
            </div>
        </div>

   <div class="container" style="margin-bottom:100px" >
            <form class="form-horizontal" action="" method="post"> {% csrf_token %}





{#            <div class="form-group form-control">#}
{#                <label for="id_Email" class="control-label">E-mail</label>#}
{#                {{ form.email }}#}
{##}
{#            </div>#}

                <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">E-mail Cadastrado</label>
                    {% if form.email.errors %}
                        <div class="col-sm-10 has-error has-feedback">
                            <input class="form-control" id="{{ form.email.id_for_label }}" maxlength="30" name="{{ form.email.html_name }}"  type="text" />
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <span id="inputError2Status" class="sr-only">(error)</span>
                        </div>

                     {% else %}
                        <div class="col-sm-10">
                            <input class="form-control" id="{{ form.email.id_for_label }}" maxlength="30" name="{{ form.email.html_name }}"  type="text" />

                        </div>
                    {% endif %}
                </div>


             {% if form.errors %}
                    <tr>
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            Digite um e-mail válido!
                        </div>
                    </tr>
                {% endif %}

                <div class="form-group">
                    <div class="col-md-offset-8 col-md-4 text-right">
                        <button class=" btn btn-primary" type="submit" value="Reset password">Enviar</button>
                    </div>
                </div>



        </form>

    </div>

{% endblock %}