{% autoescape off %}

{% extends "base_cliente.html" %}

 <h3> Caro Usuário, </h3>
    <p> Você está recebendo esse e-mail porque foi requisitado uma nova senha para seu usuário no site: {{ site_name }}. </p>

    <p>Por favor clique no link abaixo e cadastre sua nova senha: </p>
{% block reset_link %}
    <p>{{ protocol }}://{{ domain }}{% url password_reset_confirm uidb64=uid, token=token %}</p>
{% endblock %}

    <p>Seu usuário, no caso de ter esquecido: {{ user.username }}</p>

    <p>Obrigado por usar nosso site!</p>


{% endautoescape %}