
{% extends "base.html" %}
{% load static %}

{% block title %} WMP - Imersões {% endblock %}

{% block nav %}

      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://imersoes.com.br/"><img style="max-height:100px" src="{% static 'images/wmfb.png' %}" ></a>
        </div>
      </div>
    </nav>

 {% endblock %}


{% block content %}

        <div class="jumbotron">
            <div class="container">
                 <h2 class="text-center">Você se cadastrou com Sucesso!</h2>
                 <p class="text-center"> Em breve você deverá receber um e-mail com uma senha para acesso ao sistema.</p>

            </div>
        </div>


{% endblock %}