
{% extends "base.html" %}


{% block title %} WMP - Novo Feedback {% endblock %}
{% load static %}




{% block content %}

        <div class="jumbotron">
            <h3 class="text-center">Novo Processo de Feedback</h3>
        </div>
        <div class="container" style="margin-bottom:100px" >
            <form class="form-horizontal" action="/Psicologo/novo_cliente/" method="post" novalidate> {% csrf_token %}

                <div class="form-group">
                    <label for="inputNome" class="col-sm-2 control-label">Nome do Cliente</label>
                    {% if form.Nome.errors %}
                        <div class="col-sm-10 has-error has-feedback">
                            {{ form.Nome }}
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <span id="inputError2Status" class="sr-only">(error)</span>
                        </div>
                    {% else %}
                        <div class="col-sm-10">
                            {{ form.Nome }}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">E-mail do Cliente</label>
                    {% if form.Email.errors %}
                        <div class="col-sm-10 has-error has-feedback">
                            {{ form.Email }}
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <span id="inputError2Status" class="sr-only">(error)</span>
                        </div>
                    {% else %}
                        <div class="col-sm-10">
                            {{ form.Email }}
                        </div>
                    {% endif %}
                </div>


                <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Nome do Processo</label>
                    {% if form.FeedbackNome.errors %}
                        <div class="col-sm-10 has-error has-feedback">
                            {{ form.FeedbackNome }}
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <span id="inputError2Status" class="sr-only">(error)</span>
                        </div>
                    {% else %}
                        <div class="col-sm-10">
                            {{ form.FeedbackNome }}
                        </div>
                    {% endif %}
                </div>


                <div class="form-group">
                    <label for="inputFeedback" class="col-sm-2 control-label">Tipo de Questionário</label>
                    {% if form.TipoDeFeedback.errors %}
                        <div class="col-sm-10 has-error has-feedback">
                            {{ form.TipoDeFeedback }}
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <span id="inputError2Status" class="sr-only">(error)</span>
                        </div>
                    {% else %}
                        <div class="col-sm-10">
                            {{ form.TipoDeFeedback }}
                        </div>
                    {% endif %}
                </div>

                <div id="perguntas"></div>

                <div class="form-group">
                    <label for="inputFeedback" class="col-sm-2 control-label">Data Limite</label>
                    {% if form.Deadline.errors %}
                        <div class="col-sm-10 has-error has-feedback">
                            {{ form.Deadline }}
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <span id="inputError2Status" class="sr-only">(error)</span>
                        </div>
                    {% else %}
                        <div class="col-sm-10">
                            {{ form.Deadline }}
                        </div>
                    {% endif %}
                </div>

                {% if form.errors %}
                    <tr>
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            Existem erros no formulário
                        </div>
                    </tr>
                {% endif %}

                <div class="form-group">
                    <div class="col-md-offset-8 col-md-4 text-right">
                        <button class="btn btn-primary" type="submit">Cadastrar</button>
                    </div>
                </div>
            </form>
        </div> <!-- /container -->
        <!--</body>
      </html>-->



    <script>
        $.datepicker.setDefaults($.datepicker.regional['pr-BR']);
        $(document).ready(function () {
            $('.datepicker').datepicker({
            numberOfMonths: 1,
            showButtonPanel: true,
            dateFormat : 'dd/mm/yy' });

        });

    </script>

    <script>
    $('#tipoFeedback').change(function() {
    opt = $(this).val();
    if (opt=="Customizado") {
        $('#perguntas').html('                <div class="form-group"> ' +
            '<label for="inputEmail" class="col-sm-2 control-label">Pergunta 1</label>' +

                     '    <div class="col-sm-10">' +
                      '       {{ form.Pergunta1 }}' +
                      '   </div>' +
                ' </div>' +

                  '       <div class="form-group">' +
                    ' <label for="inputEmail" class="col-sm-2 control-label">Pergunta 2</label>' +
                    '     <div class="col-sm-10">' +
                      '       {{ form.Pergunta2 }}' +
                       '  </div>' +
               '  </div> ' )}
               else
    {
        $('#perguntas').html('')
    }

    });
    </script>

{% endblock %}



