
{% extends "base_cliente.html" %}

{% block title %} WMFB {% endblock %}
{% block content %}

        <div class="jumbotron">
            <div class="container">
                <h2 class="text-center">Página não Encontrada !</h2>
                <p class="text-center"> Foi enviado um e-mail para cada um deles com o link para responder o questionário. </p>
                <p class="text-center"> Assim que todos responderem, você receberá o resultado do seu Feedback.</p>
            </div>
        </div>


{% endblock %}
