
<!DOCTYPE html>
{% load staticfiles %}
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">


    <title>{% block title %}WMP - Imersões{% endblock %}</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Bootstrap -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link href="{% static 'css/sticky-footer-navbar.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://jquery-ui.googlecode.com/svn-history/r3982/trunk/ui/i18n/jquery.ui.datepicker-pt-BR.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

     <!--     <link rel="stylesheet" href="/static/css/style.css"> -->

    <style>
        .loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body style="padding-bottom: 0px;">


{% block nav %}

      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://imersoes.com.br/"><img style="max-height:100px" src="{% static 'images/wmfb.png' %}" ></a>
{#          <a class="navbar-brand" href="http://imersoes.com.br/">Imersões</a>#}
        </div>
          <div id="navbar" class="navbar-collapse collapse navbar-right" style="vertical-align:middle">
           <ul class="nav navbar-nav">
            <li style="color: #fff"><a href="#quem_somos">Quem Somos</a></li>
           </ul>
          </div>

      </div>
    </nav>
    
 {% endblock %}    

    <div id="content">
    
	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %}
	</div>

    {% block content %}This is the content area{% endblock %}


<div  id="quem_somos" class="container-bottom" style="background-color:#eee; vertical-align: middle; align-content: center" >

<br>
            <div class="col-md-5 col-md-push-6">
                <h2 class="featurette-heading">Quem Somos </h2>
                <p class=" text-justify"> Os Imersões foram desenvolvidos em 1987, há quase 30 anos.</p>

                <p class=" text-justify">Nos últimos 10 anos foram realizados centenas de cursos, seminários e workshops para membros de Famílias Empresárias. </p>

                <p class=" text-justify"> Imersão, Educação e Desenvolvimento é uma empresa integrante da WMP Consultoria, com atuação diferenciada para preparar Acionistas, Herdeiros e Sucessores.</p>

                <a class="btn btn-default" href="http://www.wmfb.com.br/" role="button">VISITE O SITE</a>
            </div>

                <div class="col-md-5 col-md-pull-4">
                <img class="img-responsive center-block" style="max-height:350px" src="{% static 'images/wmp_completo.png' %}" >
            </div>
<br>
</div>

   	 <div class="footer navbar-inverse navbar-fixed-bottom">
      <div class="container">
          <p class="text-center" style="color:white"><strong>Porto Alegre</strong> | (51) 3328 1241 <strong>Gramado</strong> | (54) 3286 4436</p>
        <p class="text-muted text-center">Copyright &copy; 2017 &middot; Todos os direitos reservados &middot; <a href="http://www.imersoes.com.br/" >www.imersoes.com.br</a></p>
      </div>
     </div>

    <script>
        $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
</body>
</html>
