{% extends "base_cliente.html" %}

{% block title %} WMP - Imersões {% endblock %}

{% load static %}

{% block content %}

        <div class="jumbotron">
            <div class="container">
                <h3>Bem vindo, {{ cliente.Nome }}. </h3>
            <p class="text-justify">Você está participando de um processo de <strong>{{cliente.FeedbackNome}}</strong>  com o(a) psicólogo(a) <strong>{{perfil.Nome}}</strong>.
                Por favor, indique ao menos 3 pessoas de seu convívio por contexto (preferencialmente preencher 3 contextos).
            Estas pessoas receberão acesso a um questionário por e-mail com perguntas sobre você. Caso necessário, você
            pode adicionar outros contextos de sua preferência.</p>
                <p> Seus indicados terão até o dia <strong>{{ cliente.Deadline }}</strong> para enviar as respostas.</p>
            </div>
        </div>

    <div class="container">

        <form id="myForm" class="form-horizontal" method="post"> {% csrf_token %}
            <div class="row">
                <div class="col-md-4 col-md-offset-8">
                    <div class="text-right form-inline">
                        <div class="input-group">
                            {{ categoria.cat }}
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit" name="Categoria">+</button>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
            <p></p>
            <div>
                <table class="table table-condensed table-hover table-condensed">
                    {{ formset.management_form }}
                    {% for form in formset.forms %}
                        {{ form.id }}
                        <tr>
                            <th>
                                {% if form.Nome.errors and DoNotCheck == False%}
                                    <div class="has-error has-feedback">
                                        <h5> {{ form.Nome }} </h5>
                                        <span class="glyphicon glyphicon-remove form-control-feedback"
                                              aria-hidden="true"></span>
                                        <span id="inputError2Status" class="sr-only">(error)</span>
                                    </div>
                                {% else %}
                                    <h5> {{ form.Nome }} </h5>
                                {% endif %}
                            </th>
                            <th>
                                {% if form.Email.errors and DoNotCheck == False %}
                                    <div class="has-error has-feedback">
                                        <h5> {{ form.Email }} </h5>
                                        <span class="glyphicon glyphicon-remove form-control-feedback"
                                              aria-hidden="true"></span>
                                        <span id="inputError2Status" class="sr-only">(error)</span>
                                    </div>
                                {% else %}
                                    <h5> {{ form.Email }} </h5>
                                {% endif %}
                            </th>
                            <th>
                                {% if form.Categ.errors  and DoNotCheck == False%}
                                    <div class="has-error has-feedback">

                                        <h5> {{ form.Categ }} </h5>
                                        <span class="glyphicon glyphicon-remove form-control-feedback"
                                              aria-hidden="true"></span>
                                        <span id="inputError2Status" class="sr-only">(error)</span>

                                    </div>
                                {% else %}
                                    <h5> {{ form.Categ }} </h5>
                                {% endif %}
                            </th>
                            <th><h5> {{ form.DELETE }} </h5></th>
                            <th><h5 class="text-left"></h5></th>
                        </tr>


                    {% endfor %}

                </table>

                {% if formset.errors and DoNotCheck == False%}
                    <tr>
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            Existem erros no formulário
                        </div>
                    </tr>
                {% endif %}

                <div class="form-group">
                    <div class="col-md-4 col-md-offset-8 text-right">
                        <button id="btnCadastro"class="btn btn-primary" type="submit">Cadastrar Indicados</button>
                    </div>
                </div>
            </div>
        </form>
    <hr>
        <p class="text-right">Coordenador do Projeto: <strong>{{ perfil.Nome }}</strong> ({{ perfil.Tipo_id }} {{perfil.Id_number }}).</p>
    </div>


    {% load staticfiles %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('#myForm tbody tr').formset({
                prefix: '{{ formset.prefix }}',
                addText: 'Adicionar Contato',
                deleteText: '<span class="glyphicon glyphicon-trash"> </span>',
            });
        })

        $(document).ready(function () {
            $('#btnCadastro').click(function () {
                $("#btnCadastro").text('Cadastrando ....');
            })
        });
    </script>
{% endblock %}