{% extends "base.html" %}
{% load staticfiles %}

{% block title %} WMFB {% endblock %}

{% block nav %}

      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://imersoes.com.br/"><img style="max-height:100px" src="{% static 'images/wmfb.png' %}" ></a>
        </div>
      </div>
    </nav>

 {% endblock %}


{% block content %}

        <div class="jumbotron">
            <div class="container">
                 <h2 class="text-center">Essa atividade de Feedback não está mais disponível.</h2>
                <p class="text-center"> Agradecemos a sua colaboraçāo. </p>

            </div>
        </div>


{% endblock %}
