
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
</head>

<body>

      <h3> Caro(a) {{ indicado }}, </h3>

      <p>Espero que este e-mail a encontre muito bem!</p>
      <p> A WMFB Consultoria é uma Consultoria especializada em desenvolver Famílias Empresárias.  </p>
   <p> O meu nome é <strong>{{ responsavel }} </strong>,  e estou realizando um  <strong>{{ coaching }}</strong> com <strong>{{ cliente }}</strong>. <p>
   <p> Nesse processo, fazemos uma atividade intitulada <strong>Feedback</strong>, na qual {{ cliente }} deve indicar nomes de pessoas importantes para a sua carreira,
          as quais poderiam fornecer suas percepções sobre ela. </p>
          <p>Assim, solicito que você responda da maneira mais completa possível, o questinário que se encontra no link abaixo:</p>


      <p> <strong>{{ link }}</strong> </p>

      <p>As informações serão tabuladas e apresentadas sem a identificação da pessoa que forneceu o Feedback.</p>

      <p>Trata-se de uma das atividades mais importantes desse processo e poucas pessoas foram escolhidas. Assim, solicito especial atenção à participação dessa Atividade. Estarei aguardando a resposta até o dia <strong>{{ data }}</strong>. </p>

      <p>Se você já tiver respondido o questionário com sucesso, por favor, desconsidere esse e-mail.</p>
<br>

<p>Agradecemos a Colaboração!</p>

<p><strong>WMFB Consultoria</strong></p>



</body>
</html>


