
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
</head>

<body>

      <h3> Caro(a) {{ cliente }}, </h3>
<p> A WMP Consultoria, sob coordenação de <strong>{{ responsavel }} </strong>, iniciou uma Atividade de Feedback com você. Essa Atividade faz parte do seu <strong>{{ coaching }}</strong>.</p>
      <p> Para iniciar seu processo, por favor indique pessoas importantes para a sua carreira, as quais poderiam fornecer percepções sobre a mesma, no link abaixo: </p>

      <p> <strong>{{ link }}</strong> </p>


      <p> Lembramos que seus indicados terão até <strong>{{ data }}</strong> para participar da Atividade, por isso é de extrema importância que você cadastre seus indicados o quanto antes.</p>
      <p>Se você já tiver cadastrados seus Indicados com sucesso, por favor desconsiderar esse e-mail.</p>
<br>

<p>Agradecemos a Colaboração!</p>

<p><strong>WMP Consultoria</strong></p>



</body>
</html>

    
