
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
</head>

<body>

      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://imersoes.com.br/"><img style="max-height:100px" src="{% static 'images/wmfb.png' %}" ></a>
{#          <a class="navbar-brand" href="http://imersoes.com.br/">Imersões</a>#}
        </div>
      </div>
    </nav>

      <h3> Caro {{ cliente }}</h3>
      <p> Seu psicólogo {{ responsavel }} iniciou um processo de feedback com você! Para iniciar seu processo, por favor preencha os dados dos seus contatos na pagina abaixo: </p>
      <p> {{ link }}</p>
      <p> A data limite é {{ data }}</p>

    <hr>
   	 <nav class="navbar  navbar-fixed-bottom navbar-inverse">
      <div class="container">
        <p class="text-muted text-center">Copyright &copy; 2017 &middot; Todos os direitos reservados &middot; <a href="http://www.imersoes.com.br/" >www.imersoes.com.br</a></p>
      </div>
    </nav>

</body>
</html>

    
