{% extends "base.html" %}

{% load staticfiles %} 

{% block title %} WMFB - Imersões {% endblock %}

{% block content %}

    <div class="container">

        <div class="jumbotron">
            <div class="container">
                <h3>Bem vindo, {{ indicado.Nome }} !</h3>
                <p class="text-justify"> Estamos realizando um <u>{{ cliente.FeedbackNome }}</u> com <strong>{{ cliente.Nome }} </strong>. </p>
                <p class="text-justify">  Nesse processo, fazemos uma atividade intitulada Feedback , na qual {{ cliente.Nome }}
                    deve indicar nomes de pessoas importantes para a sua carreira, as quais poderiam fornecer suas percepções sobre ele.
                    Assim, solicito que você responda da maneira mais completa possível, fornecendo exemplos, ao questionário abaixo. </p>

                <p class="text-justify"> A confidencialidade é muito importante nesse processo.
                    Sendo assim, as informações serão tabuladas e apresentadas para {{ cliente.Nome }}  sem a identificação da pessoa que forneceu o Feedback.
                    Trata-se de uma das atividades mais importantes desse processo e poucas pessoas foram escolhidas.
                    Agradecemos a colaboração! </p>

                <p class="text-justify"> Lembrando que a a data limite de resposta é <strong>{{ cliente.Deadline }} </strong>.  </p>

            </div>
        </div>
        <div class="container">
            <form class="form" action="" method="post"> {% csrf_token %}

                <div class="form-group">
                    <label for="pergunta01"> {{ cliente.Pergunta1 }} </label>
                    <div>{{ form.Resposta1 }}</div>

                </div>

                <div class="form-group">
                    <label for="pergunta02"> {{ cliente.Pergunta2 }} </label>
                    <div>{{ form.Resposta2 }} </div>
                </div>

                    <div class="col-md-offset-6 col-md-6 text-right">
                        <button class="btn btn-primary" type="submit" value="Register">Enviar</button>
                    </div>
            </form>
        </div>
    </div> <!-- /container -->

{% endblock %}