{% extends "base.html" %}

{% load staticfiles %}

{% block title %} WMP- Sistema de Feedbacks{% endblock %}

{% block content %}

      <div class="jumbotron">
            <div class="container">
                    <h2 class="text-center">Mudar Senha</h2>
                <p class="text-center">Por favor forneça sua senha atual para poder realizar a troca de senha.</p>
                 <p class="text-center">Sua nova senha deve ser digitada duas vezes.</p>
            </div>
        </div>


    <div class="form-signin">
        <form class="form-signin" action="/Psicologo/auth_mudar_senha/" method="post">
            {% csrf_token %}

            <p class="form-signin-heading" style="color:red;" >{{message}}</p>
            <label for="password" class="sr-only">SenhaAtual</label>
            <p><input type="password" id="password" name="password" class="form-control" placeholder="Senha Atual" required></p>
            <label for="NewPassword" class="sr-only">NovaSenha </label>
            <p><input type="password" id="password" name="NewPassword" class="form-control" placeholder="Digite a nova senha" required></p>
            <label for="NewPassword2" class="sr-only">NovaSenha</label>
            <p><input type="password" id="password" name="NewPassword2" class="form-control" placeholder="Digite a nova senha novamente" required></p>


            <button class="btn btn-lg btn-primary btn-block" type="submit">Mudar Senha</button>
        </form>
    </div> <!-- /container -->

{% endblock %}