{% extends "base.html" %}

{% load staticfiles %}

{% block title %} WMFB - Sistema de Feedbacks{% endblock %}

{% block content %}

    <div class="container">
        <form class="form-signin" action="/Psicologo/auth_mudar_senha/" method="post">
            {% csrf_token %}
            <h2 class="form-signin-heading">Mudar Senha</h2>

            <p class="form-signin-heading">{{message}}</p>

            <label for="password" class="sr-only">SenhaAtual</label>
            <p><input type="password" id="password" name="password" class="form-control" placeholder="Senha Atual" required></p>
            <label for="NewPassword" class="sr-only">SenhaNova</label>
            <p><input type="password" id="password" name="NewPassword" class="form-control" placeholder="Digite a nova senha" required></p>
            <label for="NewPassword2" class="sr-only">SenhaNova</label>
            <p><input type="password" id="password" name="NewPassword2" class="form-control" placeholder="Digite a nova senha novamente" required></p>


            <button class="btn btn-lg btn-primary btn-block" type="submit">Mudar Senha</button>
        </form>
    </div> <!-- /container -->

{% endblock %}