

{% extends "base.html" %}


{% block title %} Cadastro de Cliente {% endblock %}
{% load staticfiles %} 


{% block nav %}
      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://imersoes.com.br/"><img style="max-height:50px" src="{% static 'images/wmfb.png' %}" ></a>
          <a class="navbar-brand" href="http://imersoes.com.br/">Imersões</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse navbar-right">
           <ul class="nav navbar-nav">
            <li class="active"><a href="/Psicologo">Home</a></li>
               <li><a href="Psicologo/novo_cliente/">Novo Cliente</a></li>
            <li><a href="/Psicologo/mudar_senha/">Mudar Senha</a></li>
            <li><a href="password_reset">Esqueci minha senha</a></li>
            <li><a href="/logout/">Log out</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
{% endblock %} 

{% block content %}
    <div class="container">

    <div class="jumbotron">
        <h3 class="text-center">Cadastro de Novo Cliente</h3>
    </div>
        <div class="container">
        <form class="form-horizontal" action="/Psicologo/novo_cliente/" method="post"> {% csrf_token %}


            <div class="form-group">
                <label for="inputNome" class="col-sm-2 control-label">Nome</label>
                <div class="col-sm-10">
                    {{ form.Nome }}
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    {{ form.Email }}
                </div>
            </div>

            <div class="form-group">
                <label for="inputFeedbackNome" class="col-sm-2 control-label">Nome do Questionário</label>
                <div class="col-sm-10">
                    {{ form.FeedbackNome }}
                </div>
            </div>

            <div class="form-group">
                <label for="inputFeedback" class="col-sm-2 control-label">Tipo de Questionário</label>
                <div class="col-sm-10">
                    {{ form.TipoDeFeedback }}
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Data Limite</label>
                <div class="col-sm-10">
                    {{ form.Deadline }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-8 col-md-4 text-right">
            <button class="btn btn-primary" type="submit" value="Register">Cadastrar</button>
                </div>
            </div>
      </form>
    </div> <!-- /container --> 
  <!--</body>
</html>-->
    </div>

    <script>
        $(document).ready(function() {
          $('.datepicker').datepicker();
        });
    </script>

{% endblock %}


