{% extends "base.html" %}

{% load static %}

{% block title %} WMP - Sistema de Feedbacks{% endblock %}


{% block content %}


    <div class="jumbotron">
        <div class="container">
            <h2>Bem-vindo, {{ perfil.Nome }}!</h2>
            <p class="text-justify"> Esta é sua página de gerenciamento de seus processos de Feedback. </p>
        </div>
    </div>
  <h3 class="text-center">Processos de Feedback</h3>
        <br>

    <div class="container text-center table-responsive">

        <table class="table table-condensed table-hover table-condensed">
            <tr>
                <th> Nome</th>
                <th> E-mail</th>
                <th> Nome do Processo</th>
                <th> Tipo</th>
                <th class="text-center"> Status</th>
                <th class="text-center"> Progresso</th>
                <th class="text-center"> Data Limite</th>
                <th class="text-center"> Ações</th>
            </tr>
            {% for cliente in clientes %}
                <tr>
                    <th><h5>{{ cliente.Nome }} </h5></th>

                    <th><h5> {{ cliente.Email }} </h5></th>

                    <th><h5> {{ cliente.FeedbackNome }} </h5></th>

                    <th><h5> {{ cliente.TipoDeFeedback }} </h5></th>

                    <th class="text-center">  {% if cliente.Status %}
                        <span class="glyphicon glyphicon-ok" style="color:green" data-toggle="tooltip"
                              data-placement="top"
                              title="Orientando já preencheu seus Contatos da Atividade de Feedback com Sucesso."> </span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove" style="color:red" data-toggle="tooltip"
                              data-placement="top"
                              title="Orientando ainda NÃO preencheu seus Contatos da Atividade de Feedback."> </span>
                    {% endif %} </th>


                    <th class="text-center">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ cliente.ProgressBar }}"
                                 aria-valuemin="0" aria-valuemax="100" style="width: {{ cliente.ProgressBar }}%"
                                 data-toggle="tooltip"
                                 title="A barra de progresso representa a porcentagem de pessoas que já responderam o Questionário da Atividade Feedback">
                                {{ cliente.ProgressBar }}%
                            </div>
                        </div>
                    </th>

                    <th><h5 class="text-center"> {{ cliente.Deadline }} </h5></th>

                    <th class="text-center">
                        <a href="Psicologo/editar_cliente/{{ cliente.WebKey }}"> <span
                                class="glyphicon glyphicon-pencil" data-toggle="tooltip"
                                title="Editar Atividade de Feedback"></span></a>

                        {% if cliente.StatusDeadline %}
                            <span class="glyphicon glyphicon-time" style="color:red" data-toggle="tooltip"
                                  data-placement="top"
                                  title="A atividade de Feedback atingiu Data Limite e se encontra ENCERRADA. "> </span>
                        {% else %}<span class="glyphicon glyphicon-time" style="color:green" data-toggle="tooltip"
                                        data-placement="top" title="A atividade de Feedback se encontra ATIVA."> </span>
                        {% endif %}

                        <a href="pdf/{{ cliente.WebKey }}"> <span  class="glyphicon glyphicon-eye-close"
                                                                  data-toggle="tooltip" data-placement="top"
                                                                  title="Gerar relatório ANÔNIMO da Atividade de Feedback."> </span></a>
                        <!--<span class="glyphicon glyphicon-download-alt"> </span> -->

                        <a href="pdf_completo/{{ cliente.WebKey }}"> <span class="glyphicon glyphicon-eye-open"
                                                                           data-toggle="tooltip" data-placement="top"
                                                                           title="Gerar relatório DISCRIMINADO da Atividade de Feedback."> </span></a>

                        {% if cliente.Status %}
                            <span class="glyphicon glyphicon-envelope" data-toggle="tooltip" data-placement="top"
                                  title="Orientando já preencheu seus Contatos da Atividade de Feedback."> </span>
                        {% else %}
                            <a href="EmailCliente/{{ cliente.WebKey }}"> <span class="glyphicon glyphicon-envelope"
                                                                               data-toggle="tooltip"
                                                                               data-placement="top"
                                                                               title="Enviar lembrete para Orientando sobre Atividade de Feedback pendente."> </span></a>
                        {% endif %}

                        <a href="#myModal" data-id="DeletarCliente/{{ cliente.WebKey }}" data-toggle="modal"
                                class="open-ConfirmDelete"><span class="glyphicon glyphicon-trash" data-toggle="tooltip"
                                                                 data-placement="top"
                                                                 title="Deletar Atividade de Feedback. Todos os dados serão removidos."> </span>
                        </a>
                    </th>
                </tr>
            {% endfor %}
        </table>


    </div>
    <br>
    <div class="container">
        <div class="row text-right">
            <div class="col-md-4 col-md-offset-8"><a class="btn btn-primary" href="Psicologo/novo_cliente/">
                Novo Processo de Feedback</a></div>
        </div>
    </div>

    <div class="bs-example">
        <div id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Deletar Atividade</h4>
                    </div>
                    <div class="modal-body">
                        <p>Você tem certeza que deseja deletar essa Atividade de Feedback?</p>
                        <p class="text-warning">Todos os dados referentes à essa atividade serão excluídos sem possibilidade de recuperá-los.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <a type="button" class="btn btn-primary clienteId" id="clienteId" href="">Deletar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



<script>
    $(document).ready(function () {
        $('.datepicker').datepicker();
    });


    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
        </script>



<!--</body>
</html>-->


