
{% extends "base_cliente.html" %}

{% block title %} Sucesso {% endblock %}
{% block content %}

<div class="container">
        <div class="jumbotron">
            <div class="container">
                <p>Voce cadastrou seu contatos com sucesso. Foi enviado um e-mail para cada um deles com o link para responder o questionário.
                    Assim que todos responderem, voce receberá o resultado do seu Feedback.
                </p>
            </div>
        </div>
</div>


{% endblock %}


  
