
{% extends "base.html" %}
{% load static %}

{% block title %} Braincon - Feedback 360 {% endblock %}

{% block nav %}

      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://braincon.com.br/"><img style="max-height:100px" src="{% static 'images/wmfb.png' %}" ></a>
        </div>
      </div>
    </nav>

 {% endblock %}

{% block content %}

        <div class="jumbotron">
            <div class="container">
                <h2 class="text-center">Você cadastrou seu contatos com sucesso.</h2>
                <p class="text-center"> Foi enviado um e-mail para cada um deles com o link para responder o questionário. </p>
                <p class="text-center"> Os dados dos Feedbacks serão tabulados e apresentados para você, sem identificação dos respondentes, durante o processo de PDI.</p>
            </div>
        </div>


{% endblock %}


  
